name: Product Service CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Product Service Docker image
        run: docker build -t product-service ./product-service
